/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.banner .banner-text {
  width: 50%;
}
header .logo {
  font-size: 30px;
  color: blue;
  text-decoration: none;
  display: flex;
}
header .logo:hover {
  color: orange;
}
header nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 220px;
}
header a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: blue;
}
header a:hover {
  color: orange;
}
header #search {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}
.main header {
  font-size: 20px;
}
.main .posts {
  display: flex;
  justify-content: space-evenly;
}
.main .posts article {
  margin-top: 10px;
}
.main .posts article h3 {
  font-size: 40px;
}
.main .posts article .button {
  color: blue;
  text-decoration: none;
  display: flex;
  margin-left: -40px;
  font-size: 20px;
}
.main .posts article .button:hover {
  color: orange;
}
footer {
  text-align: center;
}
