//mainpage
header{
    border: 1px solid red;
}

.banner{
    border: 1px solid red;
}

.main{
    border: 1px solid red;
    .posts{
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article{
            border: 1px solid red;
        }
    }
}