//Container
.container{
  max-width: 80%;
}

//Header and Nav
header{
  border-bottom: 1px solid gray;
  .logo{
    font-size: 5rem;
    color: blue;
    text-decoration: none;
    display: flex;
    margin-bottom: -2.4rem;
  }

  .logo:hover{
    color: orange;
  }

  nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 22rem;

  }

  a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: blue;
    font-size: 2rem;
  }

  a:hover{
    color: orange
  }

  #search{
    display: flex;
    justify-content: flex-end;
    margin-top: -2rem;
    margin-bottom: .2rem;
  }
}

//Banner
.banner{
  border-bottom: 1px dashed blue;
  .banner-img{
    margin-left: 80rem;
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
  }

  .banner-text{
    width: 50%;
    margin-bottom: 1rem;
    h1 {
      font-size: 3rem;
    }

    p{
      font-size: 2rem;
    }

    .banner-btn{
      font-size: 1.6rem;
    }
  }
}

//Main page
.main{
  
  header{
    font-size: 5rem;
  }

  .posts{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      flex-wrap: wrap;
    article {
      margin-top: 5px;
      border: 1px solid red;
      h3{
        font-size: 5rem;
      }
      p{
        font-size: 2rem;
        width: 60%;
      }
            .button{
              color:blue;
              text-decoration: none;   
              display: flex;
              font-size: 2rem;
      }
      .button:hover{
        color: orange;
      }
        img{
          height: 10rem;
          margin-left: 100rem;
          width: 30%;
          margin-bottom: -10rem;
        }
      }
    }
  }


//Footer
footer{
  text-align: center;
  font-size: 1.7rem;
}